.place__title{
  order:1;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color:#fff;
  margin: 0;
}

@media screen and (min-width: 750px) and (max-width: 999px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 97%;
  }
}

@media screen and (max-width: 749px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin: 0 16px;
  }
}
