.header__row-links{
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}
@media screen and (max-width:320px){
    .header__row-links{
      margin-top: 14px;
    }
}