.place__url-heading{
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color:#fff;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 749px) {
  .place__url-heading{
    line-height: 12px;
  }
}
